extends layout.jade

append head
  title #{data.title}
  link(rel='stylesheet' href='/stylesheets/book.css')
  script(src='/javascripts/book.js')
block content
  ul.bookdetail
    li
      h2 #{data.title}
      img(src='/images/book' + data.id + '.jpg' alt='图书')
      each strip in data.info
        p=strip
    li
    li
      h4 内容简介
      each strip in data.intro
        p=strip
      else
        p -
    li
      h4 作者简介
      each strip in data['author-intro']
        p=strip
      else
        p -
    li
      h4 目录
      each strip in data.directory
        p.column=strip
      else
        p -
